.indent{
    .header{
        height: 44px;
        text-align: center;
        line-height: 44px;
        background: #fff;
        font-size: 18px;
        color: #c9a96e;
        position: fixed;
        width: 100%;
        z-index: 100;
        img{position: fixed;left: 10px;top: 12px;width: 10px;}
    } 
    .list{
        height: 1000px;
        // background: red;
    } 
}
