html,
body {
  height: 100%;
}

* {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
input,
img,
ul,
li,
ol,
dl,
dt,
dd {
  padding: 0;
  margin: 0;
}
ul,
ol {
  list-style: none;
}
i{font-style:normal;}
img {
  display: block;
  border: 0;
}

#root{
  height: 100%;
  position: relative;
}

.ant-row{
  width: 50%;
  border-left:2px solid #6b4143;
  border-bottom:2px solid #6b4143;
  top:50%;
  left:30%;
  width: 60%;
  transform: translateY(-50%);
  box-shadow:-10px 10px 20px #333333;
  padding:20px 8px;
  border-radius:4px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
.ant-btn,.ant-btn:hover{
  cursor:pointer;
  background: #6b4143;
  border-color:#6b4143;
  color: #fff;
}